<!DOCTYPE html>
<html>
    <h5>Generate Token  <td><a class="btn btn-link btn-sm  " href="{% url 'admin' %} ">Admin </a></td>  </h5> 
    <h5>Generate Token  <td><a class="btn btn-link btn-sm  " href="{% url 'token' %} ">Token Gen</a></td>  </h5>               
    <h5>STK Push <td><a class="btn btn-link btn-sm  " href="{% url 'lmn' %}">lipa na mpesa</a></td> </h5>                     
    <h5>Register Url's   <td><a class="btn btn-link btn-sm  " href="{% url 'register' %} ">Register Urls </a></td>   </h5> 
                 
</html>
