<!DOCTYPE html>
<html>
    <h1>Hello nard head!!!!!!!!!!!!!!!!!!</h1>
                <td><a class="btn btn-link btn-sm  " href="{% url 'admin'  %}">Admin </a></td>     
                 <td><a class="btn btn-link btn-sm  " href="{% url 'get_mpesa_access_token'  %}">Token </a></td>                   
                 <td><a class="btn btn-link btn-sm  " href="{% url ' lipa_na_mpesa'  %}">lipa na mpesa</a></td>    
                 <td><a class="btn btn-link btn-sm  " href="{% url ' register_mpesa_validation'   %}">Register Urls </a></td>     
</html>
